.comment-container {
    padding: 10px 0;
    position: relative;
}

.comment {
    display: flex;
    gap: 0.6rem;
    margin-top: 20px;
}

.comment-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.comment-header {
    font-size: 14px;
    font-weight: bold;
}

.comment-footer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.reply-btn {
    all: unset;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 10px;
    cursor: pointer;
}

.reply-btn:hover, .show-more:hover {
    background-color: #e7e7e7;
}

.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.comment-dropdown {
    background-color: #fff;
    position: absolute;
    list-style: none;
    top: 20px;
    text-align: center;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
}

.comment-dropdown-link {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 0.5rem;
}

.comment-dropdown-link:not(:last-child) {
    border-bottom: 1px solid #edeff1;
}

.comment-dropdown-link:hover {
    background-color: #e9f5fd;
}

.danger-btn:hover {
    background-color: #eb405d;
}

.thread-line {
    top: 50px;
    left: 15px;
    width: 2px;
    height: 100%;
    background-color: #edeff1;
    cursor: pointer;
}

.thread-line:hover {
    background-color: #0079d3;
}