.community-header {
    background-color: #fff;
}

.community-banner {
    background-color: #33a8ff;
    height: 150px;
}

.community-info {
    display: flex;
    margin-left: 250px;
    padding-bottom: 20px;
    align-items: center;
    gap: 15px;
    position: relative;
}

.community-sidebar {
    background-color: #ffff;
    min-height: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.community-sidebar__header {
    text-align: center;
    background-color: #33a8ff;
    color: #fff;
    padding: 10px;
}

.community-description {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.upvote-btn__clicked svg {
    stroke: #ff4500;
}

.downvote-btn__clicked svg {
    stroke: #7193ff;
}