.community-header {
    background-color: var(--clr-white);
}

.community-banner {
    background-color: #33a8ff;
    height: 150px;
}

.community-info {
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    padding-bottom: 10px;
    align-items: center;
    gap: 15px;
    position: relative;
}

.community-sidebar {
    background-color: var(--clr-white);
    min-height: 250px;
    width: 312px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.community-sidebar-header {
    text-align: center;
    background-color: #33a8ff;
    color: var(--clr-white);
    padding: 10px;
}

.community-sidebar-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    .community-sidebar {
        display: none;
    }

    .community-info {
        margin-top: 5px;
        margin-left: 10px;
    }
}