.posts-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.posts {
    width: 800px;
    margin-top: 80px;
}

.post {
    background-color: #ffffff;
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    padding: 0 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.post:hover {
    outline: 2px solid #cccccc;
}

.post-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.upvote-btn, .downvote-btn {
    all: unset;
    cursor: pointer;
}

.post-main {
    padding-left: 15px;
    width: 100%;
}

.post-header {
    font-size: 11px;
}

.main-btns {
    background-color: #fff;
    height: 280px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#reddit-avatar {
    margin-left: 10px;
    margin-top: -22px;
}

.primary-btn, .secondary-btn {
    all: unset;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
}

.primary-btn {
    background-color: #0079d3;
    color: #fff;
    padding: 6px;
}

.primary-btn:hover {
    background-color: #1483d6;
}

.primary-btn:active {
    background-color: #3d99dd;
}

.primary-btn:disabled {
    background-color: #7c7c7c;
    cursor: not-allowed;
}

.secondary-btn {
    border: 1px solid #0079d3;
    color: #0079d3;
    padding: 5px;
}

.secondary-btn:hover {
    background-color: #f4f9fd;
}

.secondary-btn:active {
    background-color: #d5e9f7;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(28, 28, 28, 0.9);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeeef;
}

.close-modal-btn {
    all: unset;
    cursor: pointer;
}

.modal-body {
    margin-top: 10px;
}


.modal-header, .modal-footer, .modal-body {
    padding: 5px 10px;
}

.modal-footer button {
    padding: 9px 20px;
}

.modal-footer {
    display: flex;
    flex-direction: row-reverse;
    background-color: #edeff1;
    gap: 7px;
    padding: 10px 10px;
    width: 100%;
}