.content-container {
    padding-top: 100px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.content {
    background-color: #fff;
    height: 800px;
    width: 700px;
    border-radius: 5px;
    padding: 20px;
}

.post-container {
    border-bottom: 1px solid #edeff1;
    padding-bottom: 20;
}

.post-header {
    color: #a4a7a8;
    font-size: 12px;
    font-weight: bold;
}

.comment-box {
    width: 100%;
    height: 100px;
    padding-left: 10px;
    padding-top: 5px;
    border: 1px solid #edeff1;
}

.comment-box:focus {
    outline: 1px solid black;
}