.add-banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 1px solid #0079d3;
    margin-right: 10px;
}