.sign-up-form__layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    flex: 1;
}

.sign-up-form__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.username-suggestions {
    margin-top: -18px;
    margin-right: 14px;
}

.username-suggestions>p {
    margin-right: 50px;
}

.username-suggestion {
    color: #0079d3;
    font-size: 14px;
    margin-right: 20px;
    font-weight: bold;
}

.username-suggestion:hover {
    color: #3394dc;
    cursor: pointer;
}

.username-suggestion:active {
    color: #0061a9;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 350px;
    gap: 1em;
}

.form-input {
    background-color: #fcfcfb;
    padding: 12px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.error-message {
    color: #ea072c;
    font-size: small;
    font-weight: bold;
}

.form-input:hover, .form-input:active {
    background-color: #ffffff;
}

.form-input:active, .form-input:focus {
    border-color: #cccccc;
    outline: none;
}

.form-input__error, .form-input__error:focus {
    border: 1px solid #ea0027;
}

.sign-up-form__header {
    border-bottom: 1px solid #dedfe0;
    padding-left: 15px;
}

.sign-up-form__footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dedfe0;
    padding: 10px;
    background-color: #fcfcfb;
}

.back-link {
    display: block;
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 5px;
}

.back-link:hover {
    color: #3394dc;
}

.primary-btn {
    background: none;
    border: none;
    border-radius: 5px;
    background-color: #0079d3;
    color: #fff;
    padding: 10px;
    font-weight: bolder;
    height: 35px;
    width: 155px;
    margin-right: 5px;
    text-transform: uppercase;
}

.primary-btn:hover {
    background-color: #3394dc;
}

.primary-btn:disabled, .submit-btn:disabled {
    cursor: not-allowed;
    background-color: #3394dc;
}

.primary-btn:active, .submit-btn:active {
    background-color: #0061a9;
}

.btn__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}

#generate-usernames-btn {
    all: unset;
    cursor: pointer;
    float: right;
    margin-left: 10px;
}