.upvote-btn, .downvote-btn {
    background-color: unset;
    border: none;
    cursor: pointer;
}

.upvote-btn__clicked svg {
    stroke: #ff4500;
}

.downvote-btn__clicked svg {
    stroke: #7193ff;
}